.box-layout {
    height: 80vh;
    background-size: cover;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-layout__box {

    border-radius: 10px;
    text-align: center;
    width: 30rem;
    min-width: min-content;
    padding: $l-size;
    margin-bottom: $s-size;
    background-color: $light-pink;
    border: 2px solid black;


}
.box-layout__box  * {

    margin-bottom: $s-size;
}
.box-layout__title {
    color: $dark-gray;
    margin: 0 0 $m-size 0;
    line-height: 1;
    
}