.header {
    background-color: $gray;
    height: min-content;
    width: 100%;

    @media (min-width: $desktop-breakpoint) {
        width: 100%;


    }
}

.header-flex-wrapper {

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
        @media (min-width: $desktop-breakpoint) {
            flex-direction: row;
            justify-content: space-between;
        }
}

.header h1 {
    color: $off-white;
    
}

.header  *{
}