// Colors
$dark-gray: #333;
$gray: #666;
$blue: #1c88bf;
$dark-blue: #364051;
$off-white: #f7f7f7;
$light-pink: #f3efe6;
$dark-pink: #efc4c0;

//Font-Size

$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

//Fonts
@import url('https://fonts.googleapis.com/css2?family=Eczar&family=Fruktur&family=Roboto:ital,wght@1,300;1,400;1,700&display=swap');